### Commented entries have reasonable defaults.
### Uncomment to edit them.
Section: misc
Priority: optional
# Homepage: <enter URL here; no default>
Standards-Version: 3.9.2

Package: linux-image-swaphints
Version: {{version}}
Maintainer: Peter Weir <peter@resurgentech.com>
# Pre-Depends: <comma-separated list of packages>
Depends: {{ dependencies }}
# example of depends string, no underscores allowed, don't need full version
#linux-image-unsigned-5.8.0-63.71-swaphints, linux-modules-5.8.0-63.71-swaphints, linux-modules-extra-5.8.0-63.71-swaphints, linux-tools-5.8.0-63.71-swaphints, linux-headers-5.8.0-63.71-swaphints
#Replaces: linux-generic
Architecture: {{arch}}
Description: Package to link all the appropriate swaphints enabled kernels into one package
 Swaphints enabled Kernel Meta package
